<%= form_with(model: [@exam, question]) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prompt %>
    <%= form.text_area :prompt, cols: 80, rows: 10 %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_area :source, cols: 50, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :explanation %>
    <%= form.text_area :explanation, cols: 80, rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
