<h1>The Warroom</h1>

<%= image_tag("shield.png") %>
<%= image_tag("sword.png") %>

<% open_exam_ids = Exam.where(open: true).map(&:id) %>

<p>
  Users: <%= User.count %><br/>
  Open Exams Questions Answered: <%= UserResult.where(exam_id: open_exam_ids).count %><br/>
  Total Questions Answered: <%= UserResult.count %><br/>
</p>

<h4>Exams</h4>
<table>
  <tr>
    <th>Title</th>
    <th>Correct</th>
    <th>Total</th>
    <th>Users Completed<th>
  </tr>
  <% Exam.where(open: true).all.each do |exam| %>
    <tr>
      <td><%= link_to(exam.title, public_summary_path(exam_id: exam.id)) %></td>
      <td><%= exam.user_results.where(correct: true).count %></td>
      <td><%= exam.user_results.count %></td>
      <td><%= exam.completed_by_user_count %></td>
    </tr>
  <% end %>
</table>

<h4>Questions</h4>
<table>
  <tr>
    <th>%</th>
    <th>Total Answered</th>
    <th>Question</th>
    <th>Exam</th>
    <th>Prompt</th>
  </tr>
  <% @missed_questions.each do |row| %>
    <tr>
      <td><%= row["percentage_correct"] %></td>
      <td><%= row["total"] %></td>
      <td><%= link_to("Question", public_practice_path(question_id: row["question_id"])) %></td>
      <td><%= link_to("Review Exam", public_summary_path(exam_id: row["exam_id"])) %></td>
      <td><%= row["prompt"] %></td>
    </tr>
  <% end %>
</table>
