<p id="notice"><%= notice %></p>

<p>
  <strong>Prompt:</strong>
  <%= @answer.prompt %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @answer.correct %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', question_answers_path(@answer.question) %>
