<h1 class="knightshift-font center">Welcome, <%= current_user.username %></h1>
<p class="knightshift-font center">
  <%= image_tag("knight.png") %>
  <br/>
  The road from NAP to nurse is long
  <br/>
  But the rewards are great
</p>
<p class="knightshift-font center">
  choose from the below to continue your training.
</p>

<ul id="exam-list" class="center">
  <% @exams.each do |exam| %>
    <li>
      <%= image_tag("crossed-swords.png", class: "shield-bullet") %>
      <%= link_to(exam.title_and_count, public_practice_path(question_id: exam.questions.first!.id)) %>
    </li>
  <% end %>
</ul>

<p class="center">
  <%= image_tag("horse.png") %>
</p>
