<div id="container">
<h1 class="knightshift-font center">Welcome, <%= current_user.username %></h1>
<p class="knightshift-font center">
  <%= image_tag("knight.png") %>
</p>

<p class="knightshift-font center">
  Continue your training below, young NAP
</p>

<table id="exam-list">
  <% @exams.each do |exam| %>
    <% presenter = ExamPresenter.new(exam, current_user) %>
    <tr>
      <td><%= image_tag(presenter.image_path, class: "shield-bullet") %></td>
      <td><%= presenter.exam_link %></td>
      <td class="center"><%= presenter.title %></td>
      <td class="center">
        <div class="progress-bar all-rounded <%= presenter.completed? ? "completed" : "" %>">
          <div class="progress-bar-percentage all-rounded" style="width: <%= presenter.percentage_completed %>">
            <span>
              <% if presenter.completed? %>
                <%= presenter.letter_grade %> - (<%= presenter.grade %>)
              <% else %>
                <% presenter.user_completed_count %>/<%= presenter.question_count %>
              <% end %>
            </span>
          </div>
				</div>
      </td>
    </tr>
  <% end %>
</table>

<p class="center">
  <%= image_tag("horse.png") %>
</p>
</div>
