<div id="container">
<h1 class="knightshift-font center">Welcome, <%= current_user.username %></h1>
<p class="knightshift-font center">
  <%= image_tag("knight.png") %>
  <br/>
  The road from NAP to nurse is long
  <br/>
  But the rewards are great
</p>
<p class="knightshift-font center">
  Continue your training below
</p>

<ul id="exam-list">
  <% @exams.each do |exam| %>
    <li>
      <%= image_tag("crossed-swords.png", class: "shield-bullet") %>
      <%= ExamPresenter.new(exam, current_user).prompt %>
    </li>
  <% end %>
</ul>

<p class="center">
  <%= image_tag("horse.png") %>
</p>
</div>
