<h1 class="knightshift-font">Question <%= @index %>/<%= @total %></h1>
<p>
  <%= @question.prompt %>
  <% if @user.admin? %>
    <br/><%= link_to("edit", edit_question_path(@question)) %>
  <% end %>
</p>

<p class="knightshift-font">
  <%= image_tag("knight_on_horse.png", id: "progress_knight") %>

  <% if @answered %>
    Review your work
  <% elsif @question.is_multi_select? %>
      Select all that apply
      <%= image_tag("dragon.png", id:"select-all-dragon") %>
  <% else %>
    Choose wisely
  <% end %>

  <%= image_tag("banners.png", class: "float-right") %>
</p>

<div class="clear"></div>

<ul id="answers"
    data-question-id='<%= @question.id %>'
    class="<%= @answered ? 'answered' : 'unanswered' %>">
<% @question.answers.order("random()").each do |answer| %>
  <li class="<%= answer.correct? ? 'correct' : '' %>
             <%= (@answered && answer.selected_by?(@user)) ? 'selected' : '' %> "
      data-answer-id='<%= answer.id %>'>
      <%= answer.prompt %>
      <% if @user.admin? %>
        <br/><%=link_to("edit", edit_answer_path(answer)) %>
      <% end %>
  </li>
<% end %>

</ul>

<% if @question.is_multi_select? %>
  <button id="multi-select-submit" class="hide">Submit</button>
<% end %>

<div id="explanation" class="<%= @answered ? '' : 'hide' %>">
  <% if @next_question.present? %>
    <p>
      <%= link_to("Next Question -->", public_practice_path(@next_question)) %>
    </p>
  <% end %>

  <% if @question.explanation.present? %>
    <p>
      <%= image_tag("scroll.png", id: "explanation-scroll") %>
      <span class="knightshift-font">rationale</span><br/>
      <%= @question.explanation.gsub("*", "<br/>*").html_safe %>
    </p>
  <% end %>

  <% if !@next_question.present? %>
    <p class="center">
      <b>You did it!!</b>
      <br/>
      You can <%= link_to("head home", "/") %> to keep training, or 
      view <%= link_to("your exam summary", public_summary_path(exam_id: @question.exam_id)) %>
      <br/>
      <%= image_tag("jester.png") %><br/>
    </p>
  <% end %>
</div>
