<h1 class="knightshift-font">Question <%= @index %>/<%= @total %></h1>
<p><%= @question.prompt %></p>

<p class="knightshift-font">
  <%= image_tag("knight_on_horse.png", id: "progress_knight") %>

  <% if @question.is_multi_select? %>
      Select all that apply
      <%= image_tag("dragon.png", id:"select-all-dragon") %>
  <% else %>
    Choose wisely.
  <% end %>
</p>
<div class="clear"></div>

<ul id="answers">
<% @question.answers.order("random()").each do |answer| %>
  <% if answer.correct? %>
    <li class="correct"><%= answer.prompt %></li>
  <% else %>
    <li><%= answer.prompt %></li>
  <% end %>
<% end %>
</ul>

<% if @question.is_multi_select? %>
  <button id="multi-select-submit" class="hide">Submit</button>
<% end %>

<div id="explanation">
  
  <p>
    <% if @next_question.present? %>
      <%= link_to("Next Question", public_practice_path(@next_question)) %>
    <% else %>
      <b>You have completed this training session.</b>
    <% end %>
  </p>

  <% if @question.explanation.present? %>
    <p>
      <%= image_tag("scroll.png", id: "explanation-scroll") %>
      <%= @question.explanation %>
    </p>
  <% end %>
</div>
