<h1>Question <%= @index %>/<%= @total %></h1>
<p id="progress_bar">
  <%= image_tag("castle", id: "progress_castle") %>
  <% (@index - 1).times do %>
    <%= image_tag("shield", id: "progress_shield") %>
  <% end %>
  <%= image_tag("knight_on_horse", id: "progress_knight") %>
</p>
<div class="clear"></div>
<p><%= @question.prompt %></p>

<ul id="answers">
<% @question.answers.order("random()").each do |answer| %>
  <% if answer.correct? %>
    <li id="correct"><%= answer.prompt %></li>
  <% else %>
    <li><%= answer.prompt %></li>
  <% end %>
<% end %>
</ul>

<div id="explanation">
  
  <p>
    <% if @next_question.present? %>
      <%= link_to("Next Question", public_practice_path(@next_question)) %>
    <% else %>
      <b>You have completed this training session.</b>
    <% end %>
  </p>

  <% if @question.explanation.present? %>
    <p>
      <%= image_tag("scroll", id: "explanation-scroll") %>
      <%= @question.explanation %>
    </p>
  <% end %>
</div>
