<h1 class="knightshift-font center"><%= @exam.title %> Results</h1>

<% @presenter.rows.each_with_index do |row, i| %>
  <h3>Question <%= i+1 %></h3>
  <%= row.question_prompt %>
  <% if current_user.admin? %>
    <br/><i><%= row.answered_by_count %> responses</i>
  <% end %>
  <ul class="review_answers answered">
    <% row.answers.each do |answer| %>
      <li class="<%= answer.correct ? 'correct' : '' %>
      <%= answer.user_selected ? 'selected' : '' %> ">
      <% if current_user.admin? %>
        ( <%= number_to_percentage(answer.selected_by_percentage * 100, precision: 0) %> )
      <% end %>
      <%= answer.prompt %>
      </li>

    <% end %>
  </ul>

  <% if row.explanation.present? %>
    <p>
      <span class="knightshift-font">rationale</span><br/>
      <%= row.explanation.gsub("*", "<br/>*").html_safe %>
    </p>
  <% end %>
<% end %>
