<h1 class="knightshift-font center"><%= @exam.title %> Results</h1>

<% @presenter.rows.each do |row| %>
  <p>
  <%= row.question_prompt %>
  <% if current_user.admin? %>
    <br/><i><%= row.answered_by_count %> responses</i>
  <% end %>
  <ul class="review_answers answered">
    <% row.answers.each do |answer| %>
      <li class="<%= answer.correct ? 'correct' : '' %>
      <%= answer.user_selected ? 'selected' : '' %> ">
      <% if current_user.admin? %>
        ( <%= number_to_percentage(answer.selected_by_percentage * 100, precision: 0) %> )
      <% end %>
      <%= answer.prompt %>
      </li>
    <% end %>
  </ul>
  </p>
<% end %>
